<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="729ab5">  <td>21/08/18 19:58:48</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestCaseOne.initializeBrowser()[pri:0, instance:testScenarios.TestCaseOne@7770f470]">&gt;&gt;initializeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1278254413</td>   <td></td> </tr>
<tr bgcolor="729ab5">  <td>21/08/18 19:59:04</td>   <td>16358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCaseOne.scenarioTwo()[pri:0, instance:testScenarios.TestCaseOne@7770f470]">scenarioTwo</td> 
  <td>main@1278254413</td>   <td></td> </tr>
<tr bgcolor="76a9af">  <td>21/08/18 20:05:57</td>   <td>429503</td> <td>&nbsp;</td><td title="&lt;&lt;InitialiseBrowser.tearDown()[pri:0, instance:testScenarios.TestCaseOne@7770f470]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1278254413</td>   <td></td> </tr>
</table>
